body {
    background-color: #ff1e20;
}

#pa1 {
    margin: 50px;
    border: 40px solid #0b2aff;
    padding: 30px;
    outline-style: solid;
    outline-color: invert;
    outline-width: 10px;
    outline-offset: 3px;
    background-color: yellow;

}
